antlr4-python3-runtime==4.9.3
async-timeout==4.0.3
blinker==1.8.2
click==8.1.7
contourpy==1.3.0
cycler==0.12.1
filelock==3.16.1
Flask==3.0.3
fonttools==4.54.1
fsspec==2024.9.0
hydra-core==1.3.2
iopath==0.1.10
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.9.2
mpmath==1.3.0
networkx==3.3
numpy==2.1.1
omegaconf==2.3.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
portalocker==2.10.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rawpy==0.23.1
redis==5.0.8
-e git+https://github.com/facebookresearch/segment-anything-2.git@7e1596c0b6462eb1d1ba7e1492430fed95023598#egg=SAM_2
six==1.16.0
sympy==1.13.3
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.5
typing_extensions==4.12.2
Werkzeug==3.0.4